.Head{
    text-align: center;
}
.data{
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15vh;
    height: 40vh;
}
.data > li > a>button{
    text-decoration: none;
    color: white;
    align-items: center;
    height: 10vh;
    width: 10vw;
    background-color: black;
    border-radius: 20%;
}
.data >li>a{
    height: 10vh;
    width: 10vw;
    text-align: center;
    align-items: center;
    background-color: black;
    border-radius: 5px;
}